<!doctype html>
<html lang="en">
<head>
    <%- include('partials/head.ejs')%>
</head>

<body>
<%- include('partials/menu.ejs')%>
    <div class="container mb-5 mt-5 indexIntro vertical-center">
        <div class="row">
            <div class="col-md-7 mt-5">
                <h2 class="feature mb-3">
                    Curated, Caffeinated, Dehydrated, Mostly Water.
                </h2>
                <p class="lead">
                    Hey, I’m Brandon Simpson!  A Montana native Seattle transplant and former finance and investment professional.
                    Graduate of The University of Montana and Western Washington University, and lover of all things technology.
                    I believe in humanity, and the power of technology to improve lives and solve our most challenging problems.
                    If you want to collaborate please
                    <a href="mailto:brandon@brandonjsimpson.com">reach out to me</a>
                </p>
            </div>
            <div class="col-md-5">
                <img class="feature-image img-fluid mx-auto"  alt="500x500" style="width: 304px; height: 360px;"
                     src="Images/Feat.jpg" data-holder-rendered="true">
            </div>
        </div>
    </div>
</body>

<%- include('partials/footer.ejs')%>
</html>

