<!doctype html>
<html lang="en">

<head>
    <title>TD Authorization </title>
    <%- include('partials/head.ejs') %>

</head>

<body>
<%- include('partials/menu.ejs') %>
<center>
    <h1 class="mb-3">
        TD Ameritrade Live Quotes
    </h1>
</center>

</body>