<!doctype html>
<html lang="en">

<head>
    <title>TD Authorization </title>
    <%- include('partials/head.ejs') %>

</head>

<body>
    <%- include('partials/menu.ejs') %>
    <center>
        <h1 class="mb-3">
            TD Ameritrade Authorization
        </h1>
    </center>
    <div class="container mx-auto">
        <p>
            The TD Ameritrade API is notorious for its poor documentation. Trying to interact with it is a master
            class in patience, google, and reddit searches. The first step is to open a TD Ameritrade account and
            a TD Ameritrade Developer account. This process is comparatively straightforward. Once you have both
            accounts head over to your developer account and in the  “My Apps” tab click the ‘Add a new App”.
            Name your app and set the callback url to http://localhost.
        </p>
    </div>

    <center class="mb-4">
        <img src="/Images/td_add_app.png" width="60%" height="60%">
    </center>

    <div class="container mx-auto">
        <p>
            In order to get your authorization code you need to set up a local server, using node for this would look like:
        </p>
    </div>
    <div class="container mx-auto mb-4">
        <script src="https://gist.github.com/brandonsimpson21/6a303333af5a873734574bd754430910.js?file=tdAuthCodeServer.js"></script>
    </div>

    <div class="container mx-auto">
        <p>
            Now we need to construct our authorization URL to link our app with our brokerage account.
            Head back over to your apps on the developer site and click on your app, copy the entry for “Consumer Key”,
            then head over to urlencoder.org and encode your consumer key and your callback URL (in this example you would
            need to use http://127.0.0.1:3000 (I.E the address of the local server we set up.) Now we can construct the
            authorization URL. As an example, from the TD documentation if your server is running on the localhost port
            8080 with consumer key "ABC1234 your authorization URL would look like this:


            <P>
                https://auth.tdameritrade.com/auth?response_type=code&redirect_uri=https%3A%2F%2F127.0.0.1%3A8080&client_id=ABC1234%40AMER.OAUTHAP
            </P>

            <p>
                After successfully navigating to the Authorization URL login page login (to your brokerage, not developer account) and follow the
                prompts. Once you successfully login you are redirected to blank page, your authorization code is up in the URL of this page.
                This is a URL encoded URL so you need to go back to <a href="https://www.urlencoder.org/">urlencoder.org</a>
                and decode it. Copy that URL. The easiest way to get your refresh token is to go to the TD developer, click on the APIs tab
                and select ‘Authentication” (or follow <a href="https://developer.tdameritrade.com/authentication/apis/post/token-0">this link</a>
                Fill out the form as follows, double check everything because if you mess up here one time you will have to go through the process
                of getting an authorization code all over again.
            </p>

        <center class="mb-4">
            <img src="/Images/td_auth_body_parameters.png" width="60%" height="60%">
        </center>

        <p>
            Save the refresh token and you’re done (until the token expires in 90 days). Now we can get to the fun parts, getting data!
        </p>
</body>